<div class="row mb-2">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h2 class="ms-3">
            <fa-icon class="me-2" [icon]="faAlignCenter"></fa-icon>
            Stock
        </h2>
        <div>
            <form class="form-inline my-2 my-lg-0">
                <input style="margin: auto;" type="search" (ngModelChange)="searchStock (key.value)" #key="ngModel" ngModel 
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Stock..." required >
              </form>
        </div>
        <div class="p-2">
             
            <button  mat-raised-button color="accent" class="m-2">
                <fa-icon class="me-2" [icon]="faChartLine"></fa-icon>
                charts
            </button>
            <button  mat-raised-button color="accent" (click)="openDialogCreateStock()">
                <fa-icon class="me-2" [icon]="faPlusCircle"></fa-icon>
                add Stock
            </button>
            <button  mat-icon-button color="accent" (click)="makePDF()">
                <fa-icon class="me-2" [icon]="faFilePdf"></fa-icon>
                
            </button>
        </div>
     
    </div>
</div>



<div class="card rounded" #content>
    <div class="card-body my-2 py-25">
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort #sort="matSort" >

                      
                        <!-- Position Column -->
                        <ng-container matColumnDef="#">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element;let index=index"> {{element.id}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="libelleStock">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.libelleStock}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="qte">
                          <th mat-header-cell *matHeaderCellDef> Quantite </th>
                          <td mat-cell *matCellDef="let element"> {{element.qte}} </td>
                        </ng-container>

                        <ng-container matColumnDef="qteMin">
                            <th mat-header-cell *matHeaderCellDef> QuantiteMinimale </th>
                            <td mat-cell *matCellDef="let element"> {{element.qteMin}} </td>
                          </ng-container>
                      
                      
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element;let index=index"> 
                                <button class="btn" (click)="openDialogEditStock(element,index)" >
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </button>
                                <button class="btn"  (click)="deleteStock(element.id)">
                                    <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
                                </button>    
                            
                            </td>
                          </ng-container>
                        
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      
                      
                     <mat-paginator #paginator [hidePageSize]="true" [pageSizeOptions]="[4]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
