<div class="d-flex justify-content-between ">
    <h3 mat-dialog-title class="text-accent">
        <fa-icon class="me-2" color="primary" [icon]="faBuilding"></fa-icon>
        {{pageTitle}}
    </h3>
    <button mat-icon-button aria-label="close dialog" color="primary" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>


<div class="card" style="box-shadow: none;">
    <div class="card-body">
        <div class="row ">
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nom:</mat-label>
                            <input matInput formControlName="nom">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Prenom:</mat-label>
                            <input matInput formControlName="prenom">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Email:</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Date Naissance:</mat-label>
                            <input matInput formControlName="date_naissance">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Profession:</mat-label>
                            <input matInput formControlName="profession">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Catégorie:</mat-label>
                            <input matInput formControlName="categorie_client">
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-3">
                    <button type="submit" mat-raised-button color="primary">
                        <fa-icon class="me-2" [icon]="faPlusCircle"></fa-icon> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>