<div class="d-flex justify-content-between ">
    <h3 mat-dialog-title class="text-accent">
        <fa-icon class="me-2" color="primary" [icon]="faBuilding"></fa-icon>
       {{pageTitle}}
    </h3>
    <button mat-icon-button aria-label="close dialog" color="primary" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>


<div class="card" style="box-shadow: none;">

    <div class="card-body">
        <div class="row ">
            
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name:</mat-label>
                        <input matInput formControlName="libelle">
                        <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
                            <div *ngIf="f.libelle.errors.required">libelle  is mandatory 
                            </div>
                        </div>

                      </mat-form-field>
                                      
                </div>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Code:</mat-label>
                        <input matInput formControlName="code">
                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <div *ngIf="f.code.errors.required">code is mandatory 
                            </div>
                        </div>

                      </mat-form-field>
                
                  
                </div>

                <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Price:</mat-label>
                        <input matInput formControlName="prixUnitaire">
                        <div *ngIf="submitted && f.prixUnitaire.errors" class="invalid-feedback">
                            <div *ngIf="f.prixUnitaire.errors.required">price is mandatory 
                            </div>
                        </div>

                      </mat-form-field>
                
                  
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline">

                        <mat-label>type</mat-label>
                        <select matNativeControl  formControlName="type">
                          <option value="tshirt">tshirt</option>
                          <option value="tanktop">tanktop</option>
                          <option value="hoody">hoody</option>
                          <option value="jacket">jacket</option>
                        </select>
                    </mat-form-field>

                </div>
              </div>

                  

                <div class="d-flex justify-content-center my-3">
                    <button type="submit" mat-raised-button color="primary">
                    <fa-icon class="me-2" [icon]="faPlusCircle"></fa-icon> Save
                </button>
                </div>

                
            </form>
        </div>
    </div>
</div>