<div class="container">
    <div class="col-md-12">
        <div class="card card-container">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" name="nom" [(ngModel)]="form.nom" required minlength="3"
                        maxlength="20" #nom="ngModel" />
                    <div class="alert-danger" *ngIf="nom.errors && f.submitted">
                        <div *ngIf="nom.errors.required">Name is required</div>
                        <div *ngIf="nom.errors.minlength">
                            name must be at least 3 characters
                        </div>
                        <div *ngIf="nom.errors.maxlength">
                            name must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" [(ngModel)]="form.prenom" required
                        minlength="3" maxlength="20" #prenom="ngModel" />
                    <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
                        <div *ngIf="prenom.errors.required">Prenom is required</div>
                        <div *ngIf="prenom.errors.minlength">
                            prenom must be at least 3 characters
                        </div>
                        <div *ngIf="prenom.errors.maxlength">
                            prenom must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required
                        #email="ngModel" />
                    <div class="alert-danger" *ngIf="email.errors && f.submitted">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">
                            Email must be a valid email address
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date_naissance">Date Naissance</label>
                    <input type="text" class="form-control" name="date_naissance" [(ngModel)]="form.date_naissance"
                        required #date_naissance="ngModel" />
                    <div class="alert-danger" *ngIf="date_naissance.errors && f.submitted">
                        <div *ngIf="date_naissance.errors.required">date naissance is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="profession">Profession</label>
                    <input type="text" class="form-control" name="profession" [(ngModel)]="form.profession" required
                        #profession="ngModel" />
                    <div class="alert-danger" *ngIf="profession.errors && f.submitted">
                        <div *ngIf="profession.errors.required">profession is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                        minlength="6" #password="ngModel" />
                    <div class="alert-danger" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Sign Up</button>
                </div>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>

            <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
            </div>
        </div>
    </div>
</div>